<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WpfApp1.MySettings.GLAAN_DBConnectionString" connectionString="Data Source=JangbuPC\GLAAN_SERVER;Initial Catalog=GLAAN_DB;Persist Security Info=True;User ID=sa;Password=GlaanServer;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>